.searchForm.searchForm{
  background-color: transparent;
  border-style: none;
}

.searchbtn.form-inline.searchbtn.form-inline {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color:#939d9e;
  border-style:solid;
  border-width: thin;
  border-radius: 10px;
}

ion-icon {
  padding-top: 2px;
  font-size: 24px;
    --ionicon-stroke-width: 24px;
  color: #939d9e;
}

.searchclick.btn.btn-outline-light {
  border-color: transparent;
}

@media (min-width: 350px) {
  /* ion-icon{
    font-size: 12px;
  } */
  .searchbtn.form-inline{
    display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%)
}
}