@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.searchForm.searchForm{
  background-color: transparent;
  border-style: none;
  border-radius: 15px;
  border-width: inherit;
  /* color: white; */
}

.searchbtn.form-inline.searchbtn.form-inline{
  border-color:#939d9e;
  border-style: solid;
  border-width: 1.75px;
  border-radius: 10px;
  font-family: comfortaa;
}

.searchbtn.form-inline {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-icon {
  padding-top: 2px;
  font-size: 24px;
    --ionicon-stroke-width: 24px;
  color: #939d9e;
}

.searchclick.btn.btn:hover ion-icon {
  color: #212529 !important;
}

.searchclick.btn.btn-outline {
  margin: 2px;
}

.searchclick.btn.btn:hover{
  color: #212529 !important;
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FF3399 80%, #00C0FF 100%);
  animation:slidebg 10s linear infinite;
  box-shadow: inset 0px 0px 25px 0px #212529, 0px 0px 25px 5px #939d9e;
  border: 0;
  opacity: 90%;
  border-radius: 15px;
}

@media (min-width: 350px) {
  /* ion-icon{
    font-size: 12px;
  } */
  .searchbtn.form-inline{
    display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%)
}
}