.hero {
  height: 750px;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  position: relative;
  border-color: #939d9e;
  border-top-style: groove;
}

/* .hero::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
} */

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1 {
  color: #939d9e;
  margin-top: 0;
}

.hero h2 {
  color: #939d9e;
}

@media (min-width: 992px){
  .navbar-expand-lg.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .navbar-expand-lg.navbar-expand-lg .navbar-collapse{
    max-width: fit-content;
  }
}
