.hero {
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
  border-color: rgba(0, 255, 128, 0.603);
  border-top-style: dashed;
}

.hero::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1, .hero h2, .hero h4 {
  color: white;
}

.hero h1 {
  font-size: 60px;
  padding-top: 150px;
  margin-top: 0;
}

