@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.bold-text {
  text-align: left;
  padding-left: 0;
}

.footer {
  max-height: 500px;
  min-height: 50px;
  background: #212529;
  position: relative;
  color:#939d9e;
  border-color: #939d9e;
  border-top-style: groove;
  padding-bottom: 7px;
  font-family: comfortaa;
}

.footer a {
  color:#939d9e !important;
  text-decoration: none;
}

.footer a:hover {
  color:  #212529 !important;
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FF3399 80%, #00C0FF 100%);
  animation:slidebg 5s linear infinite;
  border-radius: 15px;
  box-shadow: inset 0px 0px 25px 0px #212529, 0px 0px 25px 5px #939d9e;
  opacity: 100%;
  padding-left: 6px !important;
  padding-right: 6px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  text-decoration: none;
}

.footer h3 {
  color: hsl(330, 100%, 60%);
  font-size: 30px;
}

.footer h6 {
  color: blueviolet;

}

.logoutBtn {
  color:#939d9e !important;
  text-decoration: none !important;
  padding-left: 0 !important;
  padding-top: 0 !important;
}

.logoutBtn:hover {
  color:  #212529 !important;
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FF3399 80%, #00C0FF 100%);
  animation:slidebg 5s linear infinite;
  border-radius: 15px;
  box-shadow: inset 0px 0px 25px 0px #212529, 0px 0px 25px 5px #939d9e;
  opacity: 100%;
  padding-left: 6px !important;
  padding-right: 6px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  text-decoration: none;
  border: none;
}

.footer span {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #212529;
  color: #939d9e;
  font-size: small;
  margin-left: 345px !important;
}


@media (min-width: 992px){
  .footer {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .footer span{
    max-width: fit-content;
  }

  .row {
    padding-right: inherit !important;
  }
}
